@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  @apply font-['poppins'] font-[poppins] scroll-smooth !important
}

body {
  /* @apply bg-[#f5f5f4] */
  @apply bg-white
}

h1, h2, h3 {
  @apply font-Poppins font-Poppins
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  background: #911B1B;
}

.bg-loading {
  background-image:url('/gambar/background.jpg')
}

.logo{
  @apply font-Montserrat font-bold
}
.primary_btn {
  background: #927D4D !important;
  padding: 7px 25px !important;
  border: 1px solid #ffff !important;
  border-radius: 5px;
}

.primary_btn a {
  text-decoration: none;
  color: #ffff;
  background: transparent !important;
}

.secondary_btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary_btn a {
  color: #fff !important;
}
.primary_btn a:hover,
.secondary_btn a:hover {
  color: #ffff;
}
::-webkit-scrollbar {
  width: 10px;
  background: #d09191;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #e37f7f;
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary_btn a,
  .secondary_btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}